QPushButton {color: black; outline: 0px;}
QPushButton:hover {color: white; }
QWidget QPushButton {background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                 stop: 0 #b0bdcf, stop: 0.4 #aaafbc,
                                 stop: 0.5 #a2a2b2, stop: 1.0 #8384a1);}
QLineEdit {background-color: #798aad;}
QLineEdit:focus {border: 2px solid white;}
QLabel {color: #c2c7cb;}
QRadioButton {background-color: #3c475e; color: #c2c7cb;}
QRadioButton:pressed {background-color: #3c475e; outline: 0px; border: 0;}
QRadioButton:focus{background-color: #3c475e;outline: 0px; border: 0;}
